    <style>
        /* NOTE: You can use the custom CSS configuration to move this CSS your own stylesheet... */

        /* Overwrite default navbar styles to make room at the top of the browser page for our custom header... */
        .navbar-fixed-top {
            top:50px !important;
        }
        #dataverse-header-block {
            padding-top: 100px;
        }

	/* Place narrow custom header at the top of the page... */
        #custom-header {
            background: #002D72;
            min-height: 44px;
            position: fixed;
            right: 0;
            left: 0;
            z-index: 930;
            padding-top: 8px;
        }
        .instance-logo {
            max-height: 40px;
        }
        .instance-text {
          color: #ffffff;
          font-size: 24px;
          font-weight: 200;
          font-family: "Arnhem Pro","Adobe Garamond Pro","Garamond Premiere Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
        }
    </style>
    <div id="custom-header">
        <div class="container">
            <p class="text-right">
                <a class="pull-left" href="http://www.library.jhu.edu" title="JHU Librararies link" target="_blank"><img class="instance-logo" src="/resources/images/libraries.logo.small.horizontal.white.cropped.png" alt="JHU Librararies logo"/></a>
                <a class="instance-text" href="http://dms.data.jhu.edu" title="JHU Data Management Services link" target="_blank">Johns Hopkins Data Management Services</a>
            </p>
        </div>
    </div>
